<div class="image">
    <img class="border border-dark mb-3 mt-3" src="<%= food_image %>" alt="<%= food_name %>" width="70%" style="border-radius:3%"> 
    <div class="list-group ">
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
            Common Ingredients:
        </a>
        <% for (var i=0; i<ingredients.length; i++) { %>
            <a href="#" class="list-group-item list-group-item-action"><%= ingredients[i] %></a>
        <% } %>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a href="/">
                <button class="btn btn-outline-danger me-2 mb-3 swipe_left">Swipe Left</button>
            </a>
        </div>
        <div class="col">
            <a href="#">
                <button class="btn btn-outline-success ms-2 mb-3 swipe_right">Swipe Right</button>
            </a>
        </div>  
    </div>
</div>