<div class = "image">
    <button class ="swipe_left">Swipe Left</button>
    <img src="<%= food_image %>" alt = "" width="500" height="500"> 
    <button class = "swipe_right">Swipe right</button>
</div>