<nav class = "navbar navbar-defualt">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <a class = "navbar-brand" href="#">Recipe List></a>
            
        </div>
        <div class = "collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
            <ul class = "nav navbar-nav">
                <li><a href='/recipes'>Recipe List</a></li>
                <li><a href="/testing">Testing</a></li>
            </ul>
        </div>
    </div>
</nav>